<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Database</title>
    <link rel="stylesheet" type="text/css" href="static/my-theme.css">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<h1>Database</h1>

<h3>Create New Database:</h3>
<form action="/database" method="post">
    DB Name: <input type="text" name="dbname">
    <input type="image" src="static/new.png" alt="Submit">
</form>

<h3>Database List:</h3>

{% if db_list %}
  {{ db_list | safe }}
{% else %}
  No DBs
{% endif %}


</body>
</html>